main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  margin-bottom: 30px;
  padding: 20px 10px 10px 10px;
  border: 1px solid #E5D9B6;
  border-radius: 5px;
}

.form-field {
  margin-bottom: 10px;
}

.form-field-button {
  margin-top: 30px;
  margin-bottom: 10px;
}

input {
  padding: 10px;
  border: 1px solid gainsboro;
  border-radius: 5px;

}

.form-btn-submit {
  width: 100%;
  padding: 10px;
  border: 1px solid gainsboro;
  border-radius: 5px;
  background-color: skyblue;
  cursor: pointer;
  margin-bottom: 5px;
}

.form-btn-update {
  width: 100%;
  padding: 10px;
  border: 1px solid gainsboro;
  border-radius: 5px;
  background-color: greenyellow;
  cursor: pointer;
  margin-right: 5px;
}

.form-btn-clear {
  width: 100%;
  padding: 10px;
  border: 1px solid gainsboro;
  border-radius: 5px;
  background-color: salmon;
  cursor: pointer;
}

table {
  padding: 10px;
  border: 1px solid #E5D9B6;
  border-radius: 5px;
  margin-bottom: 50px;
}

table td {
  border: none;
  padding: 5px 20px;
  background-color: beige;
}