main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  margin-bottom: 30px;
  padding: 20px 10px 10px 10px;
  border: 1px solid #E5D9B6;
  border-radius: 5px;
}

.form-field {
  margin-bottom: 10px;
}

.form-field-button {
  margin-top: 30px;
  margin-bottom: 10px;
}

.form-btn-submit {
  width: 100%;
}

table {
  padding: 10px;
  border: 1px solid #E5D9B6;
  border-radius: 5px;
}

table td {
  border: none;
  padding: 5px 20px;
}