body {
  font-family: 'Courier New', monospace;
}

button {
  font-family: 'Courier New', monospace;
  padding: 10px;
  border: 1px solid gainsboro;
  border-radius: 5px;
  background-color: skyblue;
  cursor: pointer;
}

button:active {
  background-color: blue;
}

button.button-submit {
  background-color: aquamarine;
}

button.button-selected {
  background-color: chartreuse;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-container {
  margin-bottom: 10px;
  text-align: center;
}

table {
  padding: 10px;
  border: 1px solid #E5D9B6;
  border-radius: 5px;
  margin-bottom: 50px;
  font-size: 12px;
}

table td {
  border: none;
  padding: 5px 20px;
  background-color: beige;
}